@media(max-width:1760px) {
    .nmsfunneldoctor_block3{margin-top:25px}
    }
    @media(max-width:1700px) {
    .nmsfunneldoctor_block2_left h3{font-size:36px;line-height:30px}
    .nmsfunneldoctor_block_wrapper{width:96%!important}
    .nmsfunneldoctor_block6_right h2{font-size:44px;line-height:52px}
    .nmsfunneldoctor_block1 h2{font-size:26px;line-height:normal}
    }
    @media (max-width: 1680px) {
    .nmsfunneldoctor_formblock h2{font-size:20px;line-height:22px}
    .nmsfunneldoctor_formblock h3{font-size:24px;line-height:25px}
    .nmsfunneldoctor_formblock h1{font-size:24px;line-height:28px}
    .nmsfunneldoctor_block2_left h3{font-size:32px;line-height:32px}
    .spnabigtxt{font-size:36px!important;line-height:36px!important}
    .nmsfunneldoctor_block2_left h4 span{font-size:22px;line-height:24px!important}
    .btnleftinfo h2{font-size:23px;line-height:27px;width:62%;top:45%;left:60%}
    .nmsfunneldoctor_block2_left_content2{max-width:424px}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:24px;line-height:normal}
    .nmsfunneldoctor_block_wrapper{width:96%!important}
    .landing_top1_video_block{margin-top:640px}
    .nmsfunneldoctor_block5_topright_inner_2{font-size:54px;line-height:50px}
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:19px;line-height:21px}
    .nmsfunneldoctor_block3 ul li{font-size:21px;margin-top:7px}
    }
    @media (max-width: 1640px) {
    .nmsfunneldoctor_block2_left_top_content h2{font-size:26px}
    }
    @media (max-width: 1600px) {
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:18px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:28px}
    .nmsfunneldoctor_block2_left_content2{max-width:375px}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:22px}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:55px}
    .nmsfunneldoctor_block6_right h2{font-size:43px;line-height:54px}
    .nmsfunneldoctor_block6_right .btngetinfonow{bottom:16px;padding:18px 24px}
    .btngetinfonow span{font-size:24px;line-height:normal}
    }
    @media (max-width: 1580px) {
    .landing_top2_div5_body{background-position:100% top!important}
    .nmsfunneldoctor_block3 ul li{font-size:19px;line-height:20px}
    .nmsfunneldoctor_block3 ul{list-style:none}
    .nmsfunneldoctor_block3 ul::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3)}
    .nmsfunneldoctor_block3 ul::-webkit-scrollbar{width:10px}
    .nmsfunneldoctor_block3 ul::-webkit-scrollbar-thumb{background-color:#04a9bc;border:2px solid #555;outline:1px solid #555}
    }
    @media (max-width: 1550px) {
    .btnleftinfo h2{font-size:22px}
    }
    @media (max-width: 1540px) {
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:42px}
    .nmsfunneldoctor_block2_left_content2{max-width:375px}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:23px}
    .landingleftimg2computer{position:absolute;bottom:90px;left:50px;z-index:99}
    .nmsfunneldoctor_block6_right h2{font-size:42px;line-height:44px}
    }
    @media (max-width: 1500px) {
    .nmsfunneldoctor_block6_right h2{font-size:40px;line-height:48px}
    .btnleftinfo h2{font-size:19px;line-height:24px;width:58%;top:38%;left:62%}
    .nmsfunneldoctor_block6_right h2{font-size:40px;line-height:44px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:24px;line-height:32px}
    .landing_top1_left_top h2{width:52%;font-size:25px}
    .landing_top1_video_block{width:100%;margin-top:590px}
    .lan_join_ribon5{position:absolute;right:-28px;bottom:-40px;width:130px}
    .lan_top_arrow_div{width:100%;position:absolute;left:-775px;bottom:30px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con{background-size:100%!important;height:84px;width:770px;padding-left:135px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_join_ribon1{position:absolute;left:16px;top:-16px;width:130px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2{font-size:24px;padding-top:8px;line-height:28px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2 span{font-size:38px}
    .landing_top1_wrapper{width:98%;padding-left:20px}
    .landing_top1_left{width:53%;float:left;margin-right:1%}
    .landing_top1_right{width:46%}
    .landing_top1_formbod h2{font-size:28px}
    .landing_top1_formbod h2 span{display:block;font-size:16px}
    .landing_top1_formbod h3{font-size:30px}
    .landing_top1_formbod h6{font-size:30px}
    .form-group_wrapper .formnotetext{font-size:16px}
    .landing_top1_div3{background-position:16px 160px!important;background-size:870px!important}
    .landing_top1_left_textcon{width:100%;padding:30px}
    .landing_top1_left_textcon_text{width:79%;float:right}
    .landing_top1_left_textcon_text h3{font-size:24px;padding:24px 12px}
    .landing_top1_left_textcon_text p{font-size:20px;line-height:24px;padding:20px 0}
    .landing_top1_left_textcon_text strong{font-size:16px;line-height:20px}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:40px;line-height:50px}
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:17px;line-height:20px}
    .landingleftimg1man{bottom:-90px}
    }
    @media (max-width: 1460px) {
    .nmsfunneldoctor_block3 h2{margin-bottom:10px}
    .nmsfunneldoctor_block9 .nmsfunneldoctor_block_wrapper h2{font-size:20px}
    .spnabigtxt{font-size:30px!important;line-height:34px!important}
    .nmsfunneldoctor_block2_left h3{font-size:31px;line-height:30px}
    .nmsfunneldoctor_block2_left h4 span{font-size:21px;line-height:24px!important}
    .nmsfunneldoctor_formblock h3{font-size:23px;line-height:26px}
    .nmsfunneldoctor_formblock h2{font-size:19px;line-height:20px}
    .nmsfunneldoctor_formblock h1{font-size:21px;line-height:32px}
    .nmsfunneldoctor_block2_left_content2{max-width:324px}
    .btnleftinfo h2{font-size:19px;line-height:23px;width:59%;top:40%;left:60%}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:20px}
    }
    @media (max-width: 1420px) {
    .nmsfunneldoctor_block3 h2{font-size:24px;line-height:25px}
    .landing_top2_div5_body{background-position:110% top!important}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:36px;line-height:normal}
    }
    @media (max-width: 1415px) {
    .btnleftinfo h2{font-size:18px;left:62%}
    }
    @media (max-width: 1400px) {
    .landingleftimg2computer{position:absolute;bottom:96px;left:56px;z-index:99}
    .nmsfunneldoctor_block5_topright{width:70%}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:36px;line-height:normal}
    .nmsfunneldoctor_block6_right h2{font-size:36px;line-height:normal}
    .nmsfunneldoctor_block2_left h3{font-size:31px;line-height:30px}
    .landing_top1_video_block{width:100%;margin-top:560px}
    .nmsfunneldoctor_block5_topright{width:65%}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:38px;line-height:normal}
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:14px;line-height:19px}
    }
    @media (max-width: 1366px) {
    .listwarppercls{width:450px}
    .nmsfunneldoctor_block3 ul li{font-size:18px;line-height:18px;margin-top:10px}
    .submiticon{position:absolute;top:38%;right:0;transform:translate(-10%,-50%);height:63%}
    .btnleftinfo h2{font-size:19px;left:62%}
    .nmsfunneldoctor_block6_right h2{font-size:40px;line-height:41px}
    .nmsfunneldoctor_formblock .btnsubmit,.nmsfunneldoctor_formblock .btnsubmit:hover{font-size:40px}
    .landing_top1_left_textcon_text h3{font-size:22px}
    .landing_top2_div2_body{background-position:right 2% bottom 40%!important;background-size:40%!important}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con{background-size:100%!important;height:84px;width:737px;padding-left:135px}
    .lan_top_arrow_div{width:100%;position:absolute;left:-745px;bottom:30px}
    .landing_top1_left_textcon_text{width:78%;float:right}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2{font-size:22px;padding-top:8px;line-height:32px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2 span{font-size:28px;line-height:30px}
    .landing_top2_div5_body{background-position:105% top!important}
    .landing_top1_right_wrapper .form-group1 .textareablock{height:60px;resize:none}
    .nmsfunneldoctor_block1 h2{font-size:28px;line-height:36px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:22px}
    .nmsfunneldoctor_block6_right h2{font-size:37px;line-height:42px}
    .nmsfunneldoctor_block6_right .btngetinfonow{padding:12px 35px}
    .nmsfunneldoctor_block6_right .btngetinfonow span{font-size:30px}
    .landing_top1_left_textcon_text h3{font-size:20px}
    .landing_top1_left_textcon_text{width:77%}
    .landing_top2_div2_wrapper ul{width:60%}
    .lan_top_arrow_div{left:-690px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con{width:680px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2{font-size:20px;padding-top:8px;line-height:26px}
    .landing_top1_left_top h2{font-size:23px;padding:0 0 0 15px}
    .landing_top2_div2_wrapper h3{font-size:28px}
    .landing_top1_div3{background-position:-220px 148px!important;background-size:1120px!important}
    .landing_top1_video_block{width:100%;margin-top:600px}
    .nmsfunneldoctor_block3 ul li{margin-top:5px}
    .nmsfunneldoctor_formblock h3{font-size:21px;line-height:26px}
    }
    @media (max-width: 1360px) {
    .nmsfunneldoctor_block6_right h2{font-size:34px;line-height:normal}
    .nmsfunneldoctor_block2_left h3{font-size:26px;line-height:normal}
    .landingleftimg1man{bottom:-28px;left:-60px;width:350px}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:20px}
    .btnleftinfo h2{font-size:17px;line-height:20px;width:55%;top:37%;left:60%}
    .nmsfunneldoctor_formblock h2{font-size:16px;line-height:16px}
    .landing_top1_video_block{width:100%;margin-top:610px}
    }
    @media (max-width: 1340px) {
    .btnleftinfo h2{width:56%}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:33px;line-height:normal}
    }
    @media (max-width: 1320px) {
    .btnleftinfo h2{font-size:16px;width:54%}
    }
    @media (max-width: 1300px) {
    .landingleftimg1man{left:-70px;width:345px}
    .nmsfunneldoctor_block2_left_content2 h2{font-size:18px}
    .nmsfunneldoctor_formblock h3{font-size:20px;line-height:26px}
    .nmsfunneldoctor_block2_left_content2{max-width:308px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:21px}
    .nmsfunneldoctor_block6_right h2{font-size:34px;line-height:40px}
    .nmsfunneldoctorblock6img2{top:-80px}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:38px;line-height:normal}
    .landing_top1_left_textcon_text{width:75%}
    .landing_top1_video_block{width:100%;margin-top:710px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con{width:116%}
    .lan_top_arrow_div{left:-675px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2{font-size:18px;padding-top:8px;line-height:24px}
    .landing_top2_div2_wrapper_video_com h1{padding-bottom:18px}
    .landing_top2_div5_body{background-position:130% top!important}
    .landing_top1_formbod h2{font-size:32px}
    .landing_top1_formbod h2 span{display:block;font-size:18px}
    .form-group_wrapper label{font-size:16px}
    .form-group_wrapper .formnotetext{font-size:14px}
    .landing_top1_left_top img{display:block;float:left;width:210px}
    .landing_top1_left_top h2{width:340px;font-size:24px;line-height:32px}
    .landing_top1_left_textcon_text h3{font-size:19px}
    .landing_top1_left_textcon_text p{font-size:19px}
    }
    @media(max-width:1290px) {
    .nmsfunneldoctor_block6_right h2{font-size:32px;line-height:normal}
    }
    @media(max-width:1280px) {
    .landingleftimg2computer{position:absolute;bottom:96px;left:14px;z-index:99}
    .nmsfunneldoctor_block1 h2{font-size:24px;line-height:normal}
    .listwarppercls{width:380px}
    .listwarppercls h4{font-size:20px;line-height:26px}
    .nmsfunneldoctor_block5_content_left p{margin-top:30px;font-size:22px}
    .nmsfunneldoctor_block5_topright h3{text-align:center}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:34px;line-height:normal}
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:15px;line-height:19px}
    .nmsfunneldoctor_block3 ul li{font-size:18px;line-height:18px;margin-top:1px}
    .btnleftinfo h2{font-size:17px;line-height:18px;width:58%;top:35%;left:62%}
    .submiticon{position:absolute;top:37%;right:0;transform:translate(-8%,-50%);height:62%}
    .nmsfunneldoctor_formblock .btnsubmit,.nmsfunneldoctor_formblock .btnsubmit:hover{font-size:32px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:22px}
    }
    @media only screen and (max-width: 1260px) {
    .nmsfunneldoctor_block2_left_top_content h2{font-size:21px}
    }
    @media(max-width:1240px) {
    .nmsfunneldoctor_block4 .nmsfunneldoctor_block_wrapper{padding:20px 32px}
    .nmsfunneldoctor_block4_content{margin-top:12px;margin-bottom:12px}
    .nmsfunneldoctor_block6_right h2{font-size:28px;line-height:32px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:20px;line-height:28px}
    .spnabigtxt{font-size:30px!important;line-height:34px!important}
    .nmsfunneldoctor_block2_left h4 span{font-size:18px;line-height:26px!important}
    .btnleftinfo h2{font-size:16px;line-height:18px;width:57%;top:35%;left:60%}
    .nmsfunneldoctor_formblock h2{font-size:14px;line-height:14px}
    .nmsfunneldoctor_formblock h3{font-size:18px;line-height:20px}
    .nmsfunneldoctor_formblock h1{font-size:21px;line-height:33px}
    .landing_top1_left_textcon_text{width:74%}
    .landing_top1_video_block{width:100%;margin-top:750px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con{width:625px}
    .lan_top_arrow_div{left:-630px}
    .lan_top_arrow_div .lan_top_arrow_div_wrapper .lan_top_arrow_div_con h2{font-size:18px;padding-top:8px;line-height:24px}
    .landing_top1_left_textcon_text h3{font-size:18px}
    .landing_top1_left_textcon_text p{font-size:18px}
    }
    @media(max-width:1220px) {
    .landingleftimg2computer{position:absolute;bottom:122px;left:14px;z-index:99;width:502px}
    .nmsfunneldoctor_formblock h1{font-size:20px;line-height:32px}
    }
    @media only screen and (max-width: 1199px) {
    .nmsfunneldoctor_block9.videos .nmsfunneldoctor_block_wrapper .videolist h2{margin-bottom:10px;margin-top:0}
    .nmsfunneldoctor_block9.videos .nmsfunneldoctor_block_wrapper .videolist:last-child h2{margin-bottom:10px;margin-top:20px}
    .nmsfunneldoctor_block9 .videolist:nth-child(1){padding-right:15px;padding-left:15px}
    .nmsfunneldoctor_block9 .videolist:nth-child(2){padding-left:15px;padding-right:15px}
    .nmsfunneldoctor_block9 .nmsfunneldoctor_block_wrapper h2{margin-bottom:10px;margin-top:30px}
    .nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper h2{font-size:36px;line-height:normal}
    .imgwrapperblock8{width:120px;height:120px}
    .listwarppercls{width:320px}
    .nmsfunneldoctor_block4 .nmsfunneldoctor_block_wrapper h2{padding-top:20px}
    .nmsfunneldoctor_block3 h2{min-height:auto;margin-bottom:20px}
    .nmsfunneldoctor_block3_left .videoWrapper{margin-bottom:20px}
    }
    @media(max-width:1199px) {
    .nmsfunneldoctor_block2_left_top_content{padding-left:36px}
    .nmsfunneldoctor_block6_right .btngetinfonow{display:block;padding:10px 25px;float:none;text-align:center;margin:20px auto}
    .nmsfunneldoctor_block3 h2{font-size:41px;line-height:48px}
    .nmsfunneldoctor_block5_content_left p{text-align:center;max-width:100%;margin-bottom:30px}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:21px}
    .nmsfunneldoctor_block3 ul{list-style:none;max-height:inherit;overflow-y:inherit;padding:0}
    .nmsfunneldoctor_block6_right .btngetinfonow{bottom:0}
    .nmsfunneldoctor_block6_right h2{font-size:32px;line-height:34px}
    .nmsfunneldoctor_block2_left_content2 h2{text-align:center}
    .nmsfunneldoctor_block2_left h4 span{text-align:center}
    .nmsfunneldoctor_block2_left{width:100%!important}
    .nmsfunneldoctor_block2_left_top{justify-content:flex-end}
    .nmsfunneldoctor_block2_left h3{text-align:center;margin-left:auto}
    .nmsfunneldoctor_block2_left h4 span{width:100%;float:none;display:inline-block}
    .landingleftimg1man{left:-15%;width:auto;margin:0 auto;display:block;float:none;text-align:center;bottom:0;position:inherit}
    .landingleftimg2computer{right:10%;width:auto;left:inherit;bottom:200px}
    .nmsfunneldoctor_block2_left_content2{max-width:100%;text-align:center;float:none;left:0;right:0;bottom:0;position:inherit;top:0}
    .btnleftinfo{position:inherit;top:0;right:0;margin:0;display:block;padding:0;background:rgba(249,131,5,1);background:-moz-linear-gradient(top,rgba(249,131,5,1) 0%,rgba(255,124,1,1) 50%,rgba(255,97,7,1) 51%,rgba(233,70,32,1) 100%);background:-webkit-gradient(left top,left bottom,color-stop(0%,rgba(249,131,5,1)),color-stop(50%,rgba(255,124,1,1)),color-stop(51%,rgba(255,97,7,1)),color-stop(100%,rgba(233,70,32,1)));background:-webkit-linear-gradient(top,rgba(249,131,5,1) 0%,rgba(255,124,1,1) 50%,rgba(255,97,7,1) 51%,rgba(233,70,32,1) 100%);background:-o-linear-gradient(top,rgba(249,131,5,1) 0%,rgba(255,124,1,1) 50%,rgba(255,97,7,1) 51%,rgba(233,70,32,1) 100%);background:-ms-linear-gradient(top,rgba(249,131,5,1) 0%,rgba(255,124,1,1) 50%,rgba(255,97,7,1) 51%,rgba(233,70,32,1) 100%);background:linear-gradient(to bottom,rgba(249,131,5,1) 0%,rgba(255,124,1,1) 50%,rgba(255,97,7,1) 51%,rgba(233,70,32,1) 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f98305',endColorstr='#e94620',GradientType=0);height:auto;background-size:inherit;z-index:9;width:100%}
    .btnleftinfo h2{font-size:22px;line-height:29px;width:90%;top:0;left:0;text-align:center;position:inherit;transform:inherit;display:block;padding:20px;margin:0 auto}
    .nmsfunneldoctor_block2_right{width:100%!important;margin:0;display:block;padding:0}
    .nmsfunneldoctor_formblock h2{font-size:24px;line-height:24px}
    .nmsfunneldoctor_formblock h3{font-size:30px;line-height:30px}
    .nmsfunneldoctor_formblock h1{font-size:32px;line-height:39px}
    .btngetinfonow span{font-size:30px;line-height:34px}
    .nmsfunneldoctor_block4 .nmsfunneldoctor_block_wrapper{padding:0 20px 10px}
    .nmsfunneldoctor_block4_content{margin-top:20px;margin-bottom:0}
    .nmsfunneldoctor_block4_content:last-child{margin-bottom:20px}
    .btngetinfonow{display:block;padding:20px 25px;float:none;text-align:center;margin:20px auto}
    .btngetinfonow span{font-size:30px;line-height:34px}
    .nmsfunneldoctor_block6_right .btngetinfonow span{font-size:22px;line-height:32px}
    .nmsfunneldoctor_block5_content_right img{margin-left:auto;width:auto;max-width:100%;margin-top:30px}
    .nmsfunneldoctor_block5_top{display:block!important;text-align:center}
    .nmsfunneldoctor_block5_imgwrapper{display:inline-block;float:none;margin-bottom:20px}
    .nmsfunneldoctor_block5_topright{width:96%}
    .nmsfunneldoctor_block5_topright_inner_2 h2{text-align:center}
    .nmsfunneldoctor_block5_topright_inner_2 h3{text-align:center}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:60px;line-height:60px}
    .nmsfunneldoctor_block5_topright_inner_2 h3{font-size:26px;line-height:26px}
    .landing_top2_div7_wrapper{width:96%;display:inline-block}
    .landing_top2_div2_body{background-size:66%!important;background-position:50% bottom!important;padding-bottom:60%!important;text-align:center!important}
    }
    @media(max-width:1100px) {
    .nmsfunneldoctor_block6_right h2{font-size:29px;line-height:32px}
    }
    @media(max-width:1040px) {
    .nmsfunneldoctor_block6_right h2{font-size:26px;line-height:28px}
    }
    @media only screen and (max-width: 991px) {
    .nmsfunneldoctor_block4_content{width:100%!important}
    }
    @media(max-width:991px) {
    .nmsfunneldoctor_block9 .nmsfunneldoctor_block_wrapper h2{text-align:center;margin-top:10px}
    .nmsfunneldoctor_block8 ol li:before{font-size:22px}
    .nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper h2{font-size:36px;line-height:40px}
    .listwarppercls{width:285px}
    .imgwrapperblock8{width:120px;height:120px}
    .nmsfunneldoctor_block2_left_top_logo{display:block;text-align:center}
    .nmsfunneldoctor_block2_left_top_content h2{font-size:20px;line-height:28px;max-width:100%;margin:20px 0 0}
    .nmsfunneldoctor_block2_left_top{justify-content:center;flex-wrap:wrap;align-items:center;display:block}
    .nmsfunneldoctor_block2_left_top_content{width:100%}
    .nmsfunneldoctor_block6_right h2{font-size:28px;line-height:32px}
    .landingleftimg2computer{width:65%;left:28%;bottom:15%}
    .nmsfunneldoctor_block3 h2{min-height:auto;font-size:32px;line-height:34px;text-align:center}
    .nmsfunneldoctor_block6_left{width:100%!important;padding:0!important}
    .nmsfunneldoctor_block6_right h2{margin-top:0;text-align:center}
    .nmsfunneldoctor_block6_right h2{text-align:center}
    .nmsfunneldoctor_block6_right .btngetinfonow{position:inherit;right:0;bottom:0}
    .nmsfunneldoctor_block6_right{width:100%!important;padding:0!important}
    .nmsfunneldoctor_block2_left_top{justify-content:center}
    .nmsfunneldoctor_block2_left_top_content{padding-left:inherit;text-align:center}
    .nmsfunneldoctor_block2_left_top_content h2{text-align:center}
    .nmsfunneldoctor_block6_content_wrapper{margin:0!important}
    .landingleftimg1man{width:300px}
    }
    @media only screen and (max-width:991px) {
    .nmsfunneldoctor_block3{margin-top:10px;padding-top:15px}
    .nmsfunneldoctor_block8 ol{background:url(../images/block8imgmiddle.png) no-repeat;background-position:top;background:url(../images/block8imgmiddle.png) no-repeat;background-position:top;background-size:auto;padding-top:38%;-webkit-column-count:1;-moz-column-count:1;column-count:1;-webkit-column-gap:40px;-moz-column-gap:40px;column-gap:40px;list-style:decimal!important}
    .listwarppercls{width:100%}
    .li1:after,.li2:after,.li3:after,.li4:after,.li5:after,.li6:after,.li7:after,.li8:after{display:none}
    .listwarppercls{width:100%}
    .nmsfunneldoctor_block8 ol li:first-child:last-child,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2),.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3),.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4),.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5),.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6),.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7),.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8),.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9),.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10){direction:ltr}
    .nmsfunneldoctor_block8 ol li:first-child:last-child .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9) .listwarppercls,.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10) .listwarppercls{border-radius:100px;border-top-left-radius:0;border-bottom-left-radius:0}
    .nmsfunneldoctor_block8 ol li:first-child:last-child:before,.nmsfunneldoctor_block8 ol li:nth-child(n+2):nth-last-child(-n+2):before,.nmsfunneldoctor_block8 ol li:nth-child(n+3):nth-last-child(-n+3):before,.nmsfunneldoctor_block8 ol li:nth-child(n+4):nth-last-child(-n+4):before,.nmsfunneldoctor_block8 ol li:nth-child(n+5):nth-last-child(-n+5):before,.nmsfunneldoctor_block8 ol li:nth-child(n+6):nth-last-child(-n+6):before,.nmsfunneldoctor_block8 ol li:nth-child(n+7):nth-last-child(-n+7):before,.nmsfunneldoctor_block8 ol li:nth-child(n+8):nth-last-child(-n+8):before,.nmsfunneldoctor_block8 ol li:nth-child(n+9):nth-last-child(-n+9):before,.nmsfunneldoctor_block8 ol li:nth-child(n+10):nth-last-child(-n+10):before{font-size:24px;position:absolute;left:0!important;top:0;z-index:9999;left:inherit}
    .nmsfunneldoctor_block8 ol li{display:block;text-align:left}
    .nmsfunneldoctor_block8 ol{padding-top:130%}
    }
    @media only screen and (max-width:767px) {
    .landingleftimg2computer{width:80%;left:17%;bottom:20%}
    .nmsfunneldoctor_block3{margin-top:0;padding-top:30px}
    }
    @media only screen and (max-width:640px) {
    .landingleftimg2computer{width:80%;left:20%;bottom:22%}
    .nmsfunneldoctor_block3 h2{min-height:auto;font-size:24px;line-height:30px;text-align:center}
    .imgwrapperblock8{width:85px;height:85px;border:5px solid #01bbe8}
    .listwarppercls{padding:10px}
    .listwarppercls h4{font-size:20px;line-height:24px}
    .nmsfunneldoctor_block8 ol{background:url(../images/block8imgmiddle.png) no-repeat;background-position:top;background-size:auto;padding-top:165%}
    .nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper h2{font-size:32px;line-height:36px;margin-bottom:25px;margin-top:10px}
    }
    @media only screen and (max-width: 540px) {
    .nmsfunneldoctor_block9 .nmsfunneldoctor_block_wrapper h2{text-align:center}
    .nmsfunneldoctor_block4 .nmsfunneldoctor_block_wrapper h2{font-size:34px;line-height:35px}
    .nmsfunneldoctor_block3 ul li{background:url(../images/bluesquarebullet.png) no-repeat center top 3px;padding:18px;list-style:none;margin:0;font-family:'proximanovasemibold';font-size:23px;color:#555454;line-height:23px;margin-top:0;width:100%;float:none;text-align:center}
    .nmsfunneldoctor_block8 ol{background:url(../images/block8imgmiddle.png) no-repeat;background-position:top;background-size:auto;padding-top:225%}
    }
    @media(max-width:540px) {
    .nmsfunneldoctor_block8 ol{background:url(../images/block8imgmiddle.png) no-repeat;background-position:top;background-size:100%;padding-top:200%}
    .nmsfunneldoctor_block8 .nmsfunneldoctor_block_wrapper{background-color:#f4f4f4;padding:10px;width:100%!important}
    .nmsfunneldoctor_block5_topright{margin-left:8px}
    .nmsfunneldoctor_formblock h2{font-size:19px;line-height:24px}
    .btnleftinfo h2{font-size:20px;line-height:26px;width:100%;top:0;left:0;text-align:center;position:inherit;transform:inherit;display:block;padding:15px;margin:0 auto}
    .nmsfunneldoctor_formblock h1{font-size:18px;line-height:24px}
    .nmsfunneldoctor_formblock h3{font-size:20px;line-height:24px}
    .nmsfunneldoctor_block5_topright_inner_2 h2{font-size:32px;line-height:32px}
    .btngetinfonow span{font-size:24px;line-height:25px}
    .btngetinfonow{display:block;padding:18px 25px;height:auto}
    .landingleftimg2computer{right:12%;width:90%;left:inherit;bottom:38px;position:inherit;z-index:999}
    .landingleftimg1man{width:75%;position:inherit;left:0;right:0;bottom:0;top:0}
    .landing_top1_right .form-group_wrapper label{font-size:16px}
    .landing_top1_formbod h2{font-size:46px}
    .landing_top2_div7_wrapper ul li{width:100%}
    .listwarppercls{border-radius:100px;border-top-left-radius:0;border-bottom-left-radius:0;padding:30px 10px;flex-wrap:wrap}
    .nmsfunneldoctor_block3_left{padding-left:15px}
    .nmsfunneldoctor_block3_right{padding-right:15px}
    .nmsfunneldoctor_block5 ul li{background:url(../images/bluesquarebullet.png) no-repeat center top 3px;padding:18px;list-style:none;margin:0;font-family:'proximanovasemibold';font-size:23px;color:#555454;line-height:23px;margin-top:0;width:100%;float:none;text-align:center}
    }